* {
  padding: 0;
  margin: 0;
}

.App {
  font-family: "ubuntu";
  background-color: "f1f1f1";
}

.material-icons {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #1c316d;
  height: 60px;
  line-height: 60px;
  width: 100%;
  vertical-align: middle;
  color: white;
  justify-content: space-between;
  box-shadow: 0px 2px 4px gray;
}

nav {
  height: calc(100vh - 60px);
  position: relative;
  width: 50px;
  box-shadow: 0px 0px 4px #666;
  display: table-cell;
  font-size: 16px;
  background-color: white;
  color: lightblue;
  transition: all 0.5s ease-in-out;
}

nav:hover {
  width: 130px;
  transition: all 0.3s ease;
}

nav ul {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

nav:hover ul {
  width: 130px;
  transition: all 0.5s ease-in-out;
}

nav li {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 50px;
  margin: 40px 0px;
  color: grey;
  padding-left: 5px;
}

nav .li-content {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

nav:hover .li-content {
  width: 150px;
  opacity: 1;
  margin-left: 5px;
  transition: all 0.5s ease-in-out;
}

footer {
  display: none; /*change!!!!!!!*/
  position: relative;
  width: 100%;
  /* display: flex; */
  background-color: #222;
  color: #555;
  height: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  bottom: 0px;
}

main {
  display: table-cell;
  flex-direction: column;
  background-color: #ccc;
  overflow: hidden;
}

section {
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  padding-top: 5px;
  box-shadow: 0px 2px 4px 0px #ccc;
  margin-bottom: 20px;
}

.table {
  display: table;
  width: 100%;
}

.section-row {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: space-between;
}

.small-section {
  min-width: 350px;
  min-height: 150px;
  flex-grow: 1;
  margin-top: 10px;
}

.big-section {
  margin-top: 20px;
  height: 150px;
}