* {
  padding: 0;
  margin: 0;
}

.App {
  font-family: "ubuntu";
  background-color: "f1f1f1";
}

.material-icons {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #1c316d;
  height: 60px;
  line-height: 60px;
  width: 100%;
  vertical-align: middle;
  color: white;
  justify-content: space-between;
  box-shadow: 0px 2px 4px gray;
}

nav {
  height: calc(100vh - 60px);
  position: sticky;
  width: 40px;
  min-width: 40px;
  box-shadow: 0px 0px 4px #666;
  z-index: 2;
  display: table-cell;
  font-size: 16px;
  background-color: white;
  transition: 0.5s ease-in-out;
  text-align: center;
  color: lightblue;
  vertical-align: middle;
  overflow: hidden;
}

nav:hover {
  width: 130px;
  transition: 0.3s ease;
}

nav li {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 40px;
  margin: 40px 0px;
  color: grey;
  padding-left: 5px;
}

nav .li-content {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

nav:hover .li-content {
  width: 150px;
  opacity: 1;
  margin-left: 5px;
  transition: all 0.5s ease-in-out;
}