* {
  padding: 0;
  margin: 0;
}

.App {
  font-family: "ubuntu";
  background-color: "f1f1f1";
}

.material-icons {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #1c316d;
  height: 60px;
  line-height: 60px;
  width: 100%;
  vertical-align: middle;
  color: white;
  justify-content: space-between;
  box-shadow: 0px 2px 4px gray;
}

nav {
  height: calc(100vh - 60px);
  position: relative;
  width: 50px;
  box-shadow: 0px 0px 4px #666;
  display: table-cell;
  font-size: 16px;
  background-color: white;
  color: lightblue;
  transition: all 0.5s ease-in-out;
}

nav:hover {
  width: 130px;
  transition: all 0.3s ease;
}

nav ul {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

nav:hover ul {
  width: 130px;
  transition: all 0.5s ease-in-out;
}

nav li {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 50px;
  margin: 40px 0px;
  color: grey;
  padding-left: 5px;
}

nav .li-content {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

nav:hover .li-content {
  width: 150px;
  opacity: 1;
  margin-left: 5px;
  transition: all 0.5s ease-in-out;
}

footer {
  display: none;
  /*change!!!!!!!*/
  position: relative;
  width: 100%;
  /* display: flex; */
  background-color: #222;
  color: #555;
  height: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  bottom: 0px;
}

main {
  display: table-cell;
  flex-direction: column;
  background-color: #ddd;
  overflow: hidden;
}

.page-header {
  margin: 5px 0 15px 0;
  display: block;
  color: #1c316d;
  font-size: 19px;
  font-weight: 700;
  /* opacity: 0.3; */
}

section {
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  padding-top: 5px;
  box-shadow: 0px 2px 4px 0px #ccc;
  margin-bottom: 20px;
}

.table {
  display: table;
  width: 100%;
}

.section-row {
  display: flex;
  gap: 25px;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
}

.small-section {
  min-width: 250px;
  height: 120px;
  flex-grow: 1;
}

.big-section {
  margin-bottom: 20px;
  min-height: 150px;
  height: auto;
}

.section-header {
  display: block;
  font-size: 15px;
  color: #aaaaaa;
  height: 20px;
  box-shadow: 0px 2px 2px -2px #aaa;
}

.table-cell-header {
  display: block;
  font-size: 14px;
  color: #999;
  border-bottom: #ddd 1px dotted;
  border-radius: 10%;
  margin-bottom: 5px;
}

.card {
  position: relative;
  border: 1px solid darkgrey;
  border-radius: 10px;
  min-width: 200px;
  width: 300px;
  height: 180px;
  margin: 30px auto;
  margin-bottom: 15px;
  transition: .1s ease-out;
  text-align: center;
  cursor: pointer;
}

.big-section a{
  margin: 0 auto;
  color: #1c316d;
  font-family: monospace;
}

.card:hover {
  box-shadow: 0px 3px 5px gray;
  opacity: 0.6;
}

.card-header {
  display: block;
  position: absolute;
  width: 100%;
  line-height: 24px;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}

.card-image {
  margin-top: 30px;
  height: 150px;
  background-size: cover;
}